<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->
    <meta charset="utf-8">
    <title>HOLA</title>
</head>

<body ng-controller="HomeController as homeCtrl">

    <div class="container">
        <h1>Movie Night</h1>

        <form>
            <div class="form-group">
                <label>Search movie</label>
                <input type="text" class="form-control" ng-model="homeCtrl.movieName"></input>
                <button type="button" name="searchMovie" ng-click="homeCtrl.searchMovie()">Search</button>
            </div>
        </form>
        <hr>
        <div id="movieInfoDiv" class="">
            <table class="table">
              <tr>
                <th></th>
                <th>Name</th>
                <th>Year</th>
                <th>...</th>
              </tr>
              <tr ng-repeat="movie in homeCtrl.movies">
                <th>{{$index+1}}</th>
                <th>{{movie.Title}}</th>
                <th>{{movie.year}}</th>
                <th></th>
              </tr>
            </table>
        </div>
    </div>


    <!-- bower:js -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/home/home.controller.js"></script>
    <script src="app/home/omdb.factory.js"></script>
    <!-- endinject -->
</body>

</html>
