html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*div{
  padding: 10px;
}*/

#container{
  width: 90%;
  background-color: pink;
  margin: 0 auto;
}

#map {
    height: 100%;
}

#restaurantList{
  /*background-color: green;*/
}
